<h1>Slug It!</h1>

<div class="form-cont clearfix">
<form action="<%= slugit_path %>" method="get" class="form-search">
  <input class="input-xxlarge" id="input-slug" name="original" type="text" />
  <button class="btn btn-primary btn-large" data-disable-with="slugging..." name="" type="submit">Slug It</button>
</form>

<%= button_to "SlugIt Ajax", slugit_path, :remote => true, :form => { :'data-type' => 'json', :id => 'slugit_btn'}, :class => 'btn btn-primary btn-large', :disable_with => 'loading...'%>
</div>

<div id="errors"></div>

<div id="result">
  <h2>	
  <% unless @slug.nil? or @slug.out.nil? %>
    <%= @slug.out %>
  <% end %>
  </h2>
</div>



